body{
    background-color: burlywood;
}

#contact{
    border: 1px solid #ccc;
    padding: 16px;
    margin: 30px auto;
    width: 50vw;
    font-size: 24px;
    height: 300px;
    overflow-y: scroll;
}

li{
    border: 1px solid #ccc;
    padding:16px;
    margin: 10px;
    border-radius: 8px;
}
h1{
    text-align: center;
}
div{
    height: 50px;
    
    border: 2px solid black;
    background-color: palevioletred;
    font-size: 2.5rem;
    position: sticky;
    top:10px;
}

 